<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new projekt</title>
    <link th:href="@{/createproject.css}" rel="stylesheet">
</head>
<body>

<h1>Create new projekt</h1>

    <div class="control-bar">
    <!-- Tilbage til projekter knap -->
    <a th:href="@{/project/list/{employeeId}(employeeId=${currentEmployeeId})}" class="back-button">
        ← Return to projects
    </a>
    </div>

    <form th:action="@{/project/saveproject/{employeeId}(employeeId=${currentEmployeeId})}" th:object="${project}" method="post">
    <div class="form-group">
        <label for="projectName">Title:</label>
        <input type="text" id="projectName" name="projectName" th:field="*{projectName}" required/>
    </div>

    <div class="form-group">
        <label for="projectDescription">Description:</label>
        <input type="text" id="projectDescription" name="projectDescription" th:field="*{projectDescription}" required/>
    </div>

    <div class="form-group">
        <label for="projectStartDato">Start date:</label>
        <input type="date" id="projectStartDato" name="projectStartDato" th:field="*{projectStartDate}" required/>
    </div>

    <div class="form-group">
        <label for="projectDeadline">Deadline:</label>
        <input type="date" id="projectDeadline" name="projectDeadline" th:field="*{projectDeadline}" required/>
    </div>

    <div class="form-group">
        <label for="projectCustomer">Customer:</label>
        <input type="text" id="projectCustomer" name="projectCustomer" th:field="*{projectCustomer}" required/>
    </div>


        <!--
    <div class="form-group">
        <label for="projectDuration">Varighed (Dage):</label>
        <input type="number" id="projectDuration" name="projectDuration" th:field="*{projectDuration}" required readonly/>
    </div>
    -->

        <div class="form-group">
            <h3>Assign to</h3>
            <label for="selectedEmployeeId">Choose team member:</label>
            <select id="selectedEmployeeId" name="selectedEmployeeId">
                <option th:each="member : ${teamMembers}"
                        th:value="${member.employeeId}"
                        th:text="${member.username}">
                    Member
                </option>
            </select>
        </div>

    <button type="submit">Create project</button>

</form>

</body>
</html>