<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Nyt Projekt</title>
    <link th:href="@{/createproject.css}" rel="stylesheet">
</head>
<body>

<h1>Opret Nyt Projekt</h1>

    <div class="control-bar">
    <!-- Tilbage til projekter knap -->
    <a th:href="@{/project/list/{employeeId}(employeeId=${currentEmployeeId})}" class="back-button">
        ← Tilbage til Projekter
    </a>
    </div>

    <form th:action="@{/project/saveproject/{employeeId}(employeeId=${currentEmployeeId})}" th:object="${project}" method="post">
    <div class="form-group">
        <label for="projectName">Projekt Navn:</label>
        <input type="text" id="projectName" name="projectName" th:field="*{projectName}" required/>
    </div>

    <div class="form-group">
        <label for="projectDescription">Beskrivelse:</label>
        <input type="text" id="projectDescription" name="projectDescription" th:field="*{projectDescription}" required/>
    </div>

    <div class="form-group">
        <label for="startDate">Start Dato:</label>
        <input type="date" id="startDate" name="startDate" th:field="*{startDate}" required/>
    </div>

    <div class="form-group">
        <label for="endDate">Slut Dato:</label>
        <input type="date" id="endDate" name="endDate" th:field="*{endDate}" required/>
    </div>

    <div class="form-group">
        <label for="projectCustomer">Kunde:</label>
        <input type="text" id="projectCustomer" name="projectCustomer" th:field="*{projectCustomer}" required/>
    </div>


        <!--
    <div class="form-group">
        <label for="projectDuration">Varighed (Dage):</label>
        <input type="number" id="projectDuration" name="projectDuration" th:field="*{projectDuration}" required readonly/>
    </div>
    -->

        <div class="form-group">
            <h3>Assign to</h3>
            <label for="selectedEmployeeId">Vælg Team Medlem:</label>
            <select id="selectedEmployeeId" name="selectedEmployeeId">
                <option th:each="member : ${teamMembers}"
                        th:value="${member.employeeId}"
                        th:text="${member.username}">
                    Medlem
                </option>
            </select>
        </div>

    <button type="submit">Opret Projekt</button>

</form>

</body>
</html>