<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til Kalkulationsværktøjet</title>
    <link th:href="@{/homepage.css}" rel="stylesheet">
</head>
<body>

<div class="main-container">
    <div class="main-title">
        <h1>Velkommen til Kalkulationsværktøjet</h1>
    </div>

    <div class="main-content">
        <p>Dette værktøj er designet til Alpha Solutions til effektivt at administrere og beregne projekter.</p>
    </div>

    <div class="button-group">
        <a th:href="@{/login}" class="button primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
            Log ind
        </a>
        <a th:href="@{/create-employee}" class="button secondary">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M12 5v14"/><path d="M5 12h14"/></svg>
            Opret medarbejder
        </a>
    </div>
</div>

</body>
</html>